<h2> Showing Berry </h2>

<dl>
  <dt>Berry Type</dt>
  <dd><%= @berry.berry_type %></dd>
  <dt>Berry Coloring</dt>
  <dd><%= @berry.berry_color %></dd>
  <dt>Berry Rating</dt>
  <dd><%= @berry.berry_rating %></dd>
</dl>

<a href="/berries/<%= @berry.id %>/edit">Edit</a>